{% if page.toc != false %}
  <details class="toc">
    <summary><strong>Table of Contents</strong></summary>
    <nav id="TableOfContents">
      <ul>
        {% for heading in content | markdownify | strip_html | split: '</h' %}
          {% if heading contains '<h1' {% include toc.html %} or heading contains '<h2' or heading contains '<h3' %}
            {% assign level = heading | slice: 1, 1 %}
            {% assign title = heading | split: '>' | last | split: '<' | first | strip %}
            {% assign id = title | slugify %}
            <li style="margin-left: {{ level | minus: 1 }}em;">
              <a href="#{{ id }}">{{ title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </details>
{% endif %}
